:root {
    --secondary: #A3C585;
    --primary: #3B4B35;
    --tertiary: #DDEAD1;
}

.primary-text {
  color: var(--primary);
}

.bg-primary {
    background-color: var(--secondary);
}

hr {
    border: 1px solid var(--primary);
    color: var(--primary);
    width: 100%;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.bordering {
  border: 2px solid green
}

body {
    background-color: var(--tertiary);
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

.footer-align {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px; 
}

.dimmed {
  opacity: 0.5;
}

.w-fc {
  width: fit-content;
}